@model Nutripocket.Models.APARENCIA

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>APARENCIA</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AP_FACE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AP_FACE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AP_LABIOS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AP_LABIOS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AP_LINGUA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AP_LINGUA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AP_GENGIVA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AP_GENGIVA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AP_PELE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AP_PELE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AP_CABELOS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AP_CABELOS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AP_MUSCULOS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AP_MUSCULOS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AP_TRONCO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AP_TRONCO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AP_MEMBROS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AP_MEMBROS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AP_UNHAS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AP_UNHAS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AP_SIST_NERVOSO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AP_SIST_NERVOSO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AP_PESCOCO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AP_PESCOCO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Attribute145)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attribute145)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PACIENTE.NOME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PACIENTE.NOME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
