@model IEnumerable<Nutripocket.Models.EX_LABORA>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HERMOGRAMA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TRIGLICERIDIOS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRESSAO_ARTERIAL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GLICEMIA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COLESTEROL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PARASITOLOGICO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CORTISOL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OUTROS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PACIENTE.NOME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HERMOGRAMA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TRIGLICERIDIOS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRESSAO_ARTERIAL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GLICEMIA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COLESTEROL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PARASITOLOGICO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CORTISOL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OUTROS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PACIENTE.NOME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
