@model Nutripocket.Models.ANM_CLINICA

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ANM_CLINICA</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DISFAGIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DISFAGIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CONSTIPACAO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CONSTIPACAO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VOMITOS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VOMITOS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ANOREXIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ANOREXIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.H_PILORI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.H_PILORI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PIROSE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PIROSE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ODINOFAGIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ODINOFAGIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIARREIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIARREIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FLATULENCIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FLATULENCIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NAUSEAS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAUSEAS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PROB_RESP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PROB_RESP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GRIPES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GRIPES)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HEPS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HEPS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AFTA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AFTA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FADIGA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FADIGA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VISAO_BORRADA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VISAO_BORRADA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DORES_ARTICULACAO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DORES_ARTICULACAO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MUDANCA_HUMOR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MUDANCA_HUMOR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PACIENTE.NOME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PACIENTE.NOME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
