@model Nutripocket.Models.PACIENTE

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>PACIENTE</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID_PACIENTE)

        <div class="form-group">
            @Html.LabelFor(model => model.NOME, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NOME)
                @Html.ValidationMessageFor(model => model.NOME)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SEXO, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SEXO)
                @Html.ValidationMessageFor(model => model.SEXO)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DT_NASC, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DT_NASC)
                @Html.ValidationMessageFor(model => model.DT_NASC)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EST_CIVIL, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EST_CIVIL)
                @Html.ValidationMessageFor(model => model.EST_CIVIL)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PROFISSAO, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PROFISSAO)
                @Html.ValidationMessageFor(model => model.PROFISSAO)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ENDERECO, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ENDERECO)
                @Html.ValidationMessageFor(model => model.ENDERECO)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EMAIL, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EMAIL)
                @Html.ValidationMessageFor(model => model.EMAIL)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TELEFONE, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TELEFONE)
                @Html.ValidationMessageFor(model => model.TELEFONE)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
